.container {
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.wordNotFound {
    color: #f2655a;
}

.back {
    padding: 10px 20px;
    border-color: transparent;
    font-size: 12px;
    line-height: 17px;
    font-family: 'Sintony', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    transition: all 0.3s;
    border-radius: 5px;
    color: white;
    background-color: #2d4052;
    margin-top: 15px;
    width: 150px;
}

.positBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}